@model ProduseEco.ViewModel.Login

@{
    ViewBag.Title = "Login";
        }
<h2> Login </h2>

@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if(ViewBag.Message !=null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
            </div>
    }
    <table>
        <tr>
            <td>@Html.LabelFor(a=> a.Username)</td>
            <td>@Html.TextBoxFor(a => a.Username)</td>
            <td>@Html.ValidationMessageFor(a => a.Username)</td>
            </tr>
        <tr>
            
            <td>@Html.LabelFor(a => a.Password)</td>
                
            <td>
                @Html.PasswordFor(a => a.Password)
                </td>
            <td>@Html.ValidationMessageFor(a => a.Password)</td>
            </tr>
        
            <tr>
                <td></td>
                <td>
                    <input class="btn btn-default" type="submit" value="Login"/>
                    <input class="btn btn-default" type="reset" name="name" value="Clear" />
                    <input class="btn btn-default" type="button" value="Register" onclick="@("window.location.href='" + @Url.Action("AddOrEdit", "Client") + "'");" />

                    </td>
                <td></td>
                </tr>

        </table>
}

 
<script src="~/bundles/jquery.js" type="text/javascript"></script>
