@model ProduseEco.ViewModel.Login

@{
    ViewBag.Title = "Login";
        }
<html>

<head>
    <h2> Login </h2>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/bundles/jquery.js" type="text/javascript"></script>

    </head>


<body >
    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        if (ViewBag.Message != null)
        {
            <div style="border:1px solid red">
                @ViewBag.Message
            </div>
        }
        <div id="login-div">

            <table>
                <tr>
                    <td>@Html.LabelFor(a => a.Username)</td>
                    <td>@Html.TextBoxFor(a => a.Username)</td>
                    <td>@Html.ValidationMessageFor(a => a.Username)</td>
                </tr>
                <tr>

                    <td>@Html.LabelFor(a => a.Password)</td>

                    <td>
                        @Html.PasswordFor(a => a.Password)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Password)</td>
                </tr>

                <tr>
                    <td></td>
                    <td>
						<button type="submit" value="Login" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
							Login
						</button>
                        <input class="btn btn-default" type="reset" name="name" value="Clear" />
                        <input class="btn btn-default" type="button" value="Register" onclick="@("window.location.href='" + @Url.Action("AddOrEdit", "Client") + "'");" />

                    </td>
                    <td></td>
                </tr>

            </table>

        </div>


    }
</body>


</html>